1903.01386.pdf
1_param.png
2012.01.Icarus.Barnes.Moonless.Earth.pdf
ANN4900-4999.aijProxCenb04k8TL.nc
IMG_1040.png
IMG_1200.png
IMG_1205.png
IMG_1286.png
K2-266e_a0_a_ratio.txt
KOI-314.01_a0_a_ratio.txt
KOI-314.01_tdur_movie
KOI-314.02_a0_a_ratio.txt
KOI255_obliquity_figure.eps
KOI500_obliquity_figure.eps
KOI500_obliquity_figure_nmg.pdf
KOI_posteriors_Natalia_from_Sheila.ipynb
KyleBatra_modelErc.rtf
PARTIAL.accE1oM20_Test.nc
PARTIAL.accP1SoM40_Test.nc
PARTIAL.aijP1SoM40_Test.nc
Simple+tidal+comparison+of+Earth+Moon.gif
Spin_dynamics_of_resonance_chains_092123_submitted.pdf
TOI-178f_a0_a_ratio.txt
TOI-178g_Tdur_movie
TOI-178g_a0_a_ratio.txt
TOI-270c_a0_a_ratio.txt
TRAPPIST-1
TRAPPIST-1_obliquity_figure.eps
TRAPPIST-1e_a0_a_ratio.txt
TRAPPIST_alpha_distribution_keplerandother.ipynb
Tdur_evolution.png
Tdur_facts
Trappist1_obliquity_pairs.csv
Trappist1_obliquity_weqn.csv
a0_a_ratio
ajaa71eft1_mrt.txt
ajaa71eft2_mrt.txt
almanac
alpha_distribution.ipynb
alpha_distribution_keplerandother.ipynb
candidacy_exam
dTdur_facts
dTdur_full_catalog_table.txt
dTdur_full_catalog_table.txt.back.txt
dTdur_hist.png
dTdur_target_list.txt
dTdur_target_list_toppicks.txt
dance-sketches
days_and_years.ipynb
derp.txt
dg.csv
dg.txt
distance_insolation_goldilocks.png
exoclimes2025_abstract.docx
exssV_poster
family_portrait.key
gradsymposium2022
gradsymposium2023
grfp
guerrero_atmospheres_research_proposal.key
guerrero_symposium_2025.key
junk.py
kep_conf_names_2024.10.23_21.55.06.csv
kepler_koi_lookup_2024.10.23_21.55.06.csv
knicole_fp_targets.txt
koi_mdwarf_multis_planets.fits
masters2023
mcmc_Tdur_checklist.txt
mcmc_lightcurve_fit.ipynb
megahistogram.ipynb
migration.ipynb
no_tdur.txt
non_kepler_candidates_gaia_mag.txt
not_paying_attention_at_exssv.ipynb
notes-family-portrait.txt
obliquity_insolation_all.png
obliquity_insolation_goldilocks.png
obliquity_overlay.png
other_mdwarf_multis_planets.fits
other_mdwarf_multis_planets_edits.fits
other_mdwarf_multis_planets_edits_new.fits
other_struct_planets_extra_teq.fits
out.csv
output_get_dTdur_prediction.txt
paper_draft
paper_post_referee
planets.csv
planets_obliquity_weqn.csv
prelim_dtdur_targets.txt
referee-plots
reference_frames.key
research_limerick.txt
s10569-017-9783-7.pdf
sarah_period_obl_plots.png
talks
targetlist_dTdur_notes.txt
tdur_timelapse.ipynb
test.pdf
test.png
tidalstability.ipynb
tmpfile
tmptmp
transit_duration_mdwarfmultis_from_sheila.ipynb
using_astroquery.ipynb
vaporplots
vaporvideo.ipynb
weq_menu.png
weq_overlay.png
wobblebaby.ipynb
wobblebaby_bespoke.ipynb
wobblebaby_plots
wobblebaby_singleplanet.ipynb
wobblebaby_withBeta.ipynb
wobblebabydemo.ipynb
yubo_plot_regions.py
.ipynb_checkpoints/
.DS_Store
